
/* Animated Icon */
 #animatedIcon { width: 50px; height: 50px;
  font-size: 20px;
  font-weight: bold;
  animation: myfirst 3s 2;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes myfirst {
  0% {
    transform: translate(0, 5px);
  }
  20% {
    transform: translate(0px, -5px);
  }
  40% {
    transform: translate(0px, 5px);
  }
  60% {
    transform: translate(0px, -5px);
    width: 100%; /* to equalize the dropdown with the width of the toggle button */
  }
  80% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, -5px);
  }
}
/* End of animation icon */
